#recentResult h2 {
    font-size: 2rem;
    background-color: lightcyan;
    display: inline;
    padding: 2rem;
    border-radius: 30px;
}

#recentResult {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

body {
    background-color: deepskyblue;
    font-family: sans-serif;
}

h1, form {
    text-align: center;
}

#history {
    text-align: center;
}

ul {
    display: inline-block;
    text-align: left;
}

h4 {
    margin-bottom: 0;
}

section p {
    text-align: center;
}